*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* colors */
  --blue-nav: #2e323f;
  --blue-body: #3b4050;
  --grey-blue-text: #6f737f;
  --white: #fff;
  --gold-highlight: #a59678;

  /* fonts */
  /* headlines, titles, etc. */
  --oswald-bold-18: bold 1.125rem "Oswald", sans-serif;
  --oswald-bold-21: bold 1.3125rem "Oswald", sans-serif;
  --oswald-bold-24: bold 1.5rem "Oswald", sans-serif;
  --oswald-bold-30: bold 1.875rem "Oswald", sans-serif;
  --oswald-bold-36: bold 2.25rem "Oswald", sans-serif;
  --oswald-bold-90: bold 5.625rem "Oswald", sans-serif;

  /* body text */
  --montserrat-reg-16: 1rem "Montserrat", sans-serif;
  --montserrat-reg-18: 1.125rem "Montserrat", sans-serif;
  --montserrat-reg-21: 1.3125rem "Montserrat", sans-serif;
  --montserrat-reg-24: 1.5rem "Montserrat", sans-serif;
}

body {
  max-width: 100vw;
}

/* NavBar Styles Start */
nav {
  width: 100%;
  background-color: var(--blue-nav);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

span.nav-toggle {
  font-size: 30px;
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 20px;
}

.logo {
  margin: 20px 0 20px 0;
  text-align: center;
}

.nav__lists {
  display: none;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
}

.nav__item {
  list-style: none;
  cursor: pointer;
  margin: 1em;
  text-align: center;
  padding: 5px 50px;
}

.nav__item:hover,
.nav__item:focus {
  opacity: 0.65;
}

.nav__link {
  color: var(--white);
  font: var(--oswald-bold-18);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.active {
  display: flex;
}
/* NavBar Styles End */

.button {
  background-color: var(--gold-highlight);
  border-radius: 100px;
  color: var(--white);
  padding: 0.3em 1.5em;
  text-decoration: none;
}

.button:hover,
.button:focus {
  opacity: 0.75;
}

.hero {
  background-color: var(--blue-body);
  padding: 8em 0;
}

.hero__title {
  color: var(--white);
  font: var(--oswald-bold-90);
  line-height: 1;
  margin-bottom: 0.5em;
}

.hero__title span {
  color: var(--gold-highlight);
}

.hero__text {
  color: var(--white);
  font: var(--montserrat-reg-24);
  margin-bottom: 1.5em;
}

.hero__button {
  font: var(--oswald-bold-24);
  text-transform: uppercase;
}

.container {
  width: min(1200px, 80%);
  margin: 0 auto;
}

.section-one {
  /* No color was provided in the design doc, 
  so this is my best guess. */
  background-color: #ececec;
  padding: 4em 0;
}

.section-one .col {
  text-align: center;
}

.section-one .col:not(:last-child) {
  margin-bottom: 1em;
}

.section-one__title {
  color: var(--gold-highlight);
  font: var(--oswald-bold-30);
  margin-bottom: 0.5em;
}

.section-one__text {
  font: var(--montserrat-reg-18);
}

.section-two {
  padding: 2em 0;
}

.section-two__title {
  color: var(--gold-highlight);
  font: var(--oswald-bold-36);
  margin-bottom: 0.3em;
}

.section-two__text {
  font: var(--montserrat-reg-21);
}

.section-two__text:last-child {
  margin-bottom: 2em;
}

.section-two__img {
  margin: 2em 0;
  width: 100%;
}

.box {
  background-color: var(--blue-body);
  color: var(--white);
  padding: 2em 3em;
  text-align: center;
}

.box:not(:last-child) {
  margin-bottom: 2em;
}

.box__title {
  font: var(--oswald-bold-30);
  padding-bottom: 0.7em;
}

.box__text {
  font: var(--montserrat-reg-18);
}

.section-three {
  background-color: var(--blue-body);
  padding-bottom: 2.5em;
}

.section-three__main-title {
  color: var(--white);
  font: var(--oswald-bold-24);
  text-align: center;
  padding: 2em 0;
}

.section-three__col-title {
  color: var(--gold-highlight);
  font: var(--oswald-bold-21);
  padding-bottom: 0.765em;
}

.section-three__col-text {
  font: var(--montserrat-reg-16);
  padding-bottom: 1em;
}

.section-three li {
  list-style: none;
}

.section-three a {
  text-decoration: none;
}

.section-three a:visited {
  color: var(--grey-blue-text);
}

.section-three a:hover,
.section-three a:focus {
  opacity: 0.65;
}

.section-three__col-text {
  color: var(--grey-blue-text);
}

/**
  * Media Queries * 
**/
@media (min-width: 700px) {
  /* Navbar styles start */
  nav {
    height: 75px;
  }

  .nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    margin: 0 0 0 0;
    text-align: left;
  }

  .nav__lists {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav__list {
    display: flex;
  }

  .nav__item {
    margin-left: 1em;
    padding: 0;
  }

  span.nav-toggle {
    display: none;
  }
  /* Navbar styles end */

  .hero__title {
    line-height: 1.1;
  }

  .section-one .row {
    display: flex;
    gap: 1.2em;
  }

  .section-two aside .row {
    display: flex;
    column-gap: 1em;
  }

  .section-two aside .box {
    flex: 1 2 100px;
    padding: 1em 1.5em;
  }

  .box:last-child {
    margin-bottom: 2em;
  }
}

@media (min-width: 1000px) {
  .hero .row {
    display: flex;
    justify-content: space-between;
  }

  .hero__title {
    margin-bottom: 0;
  }

  .hero .col-left {
    width: min(45%, 600px);
  }

  .hero .col-right {
    width: min(40%, 400px);
  }

  .hero .col-right {
    align-self: end;
  }

  .section-two aside .row {
    display: block;
    gap: 0;
  }

  .section-two aside .box {
    padding: 2em 3em;
  }

  .section-two .row {
    display: flex;
    justify-content: space-between;
    gap: 1.5em;
  }

  .section-two .col-left {
    flex: 0 1 600px;
  }

  .section-two .col-right {
    flex: 0 3 350px;
  }

  .section-three .row {
    display: flex;
    justify-content: space-between;
  }

  .section-three .col-one {
    width: min(500px, 40%);
  }
}
