*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* colors */
  --blue-nav: #2e323f;
  --blue-body: #3b4050;
  --grey-blue-text: #6f737f;
  --white: #fff;
  --gold-highlight: #a59678;

  /* fonts */
  /* headlines, titles, etc. */
  --oswald-bold-18: bold 1.125rem "Oswald", sans-serif;
  --oswald-bold-21: bold 1.3125rem "Oswald", sans-serif;
  --oswald-bold-24: bold 1.5rem "Oswald", sans-serif;
  --oswald-bold-30: bold 1.875rem "Oswald", sans-serif;
  --oswald-bold-36: bold 2.25rem "Oswald", sans-serif;
  --oswald-bold-90: bold 5.625rem "Oswald", sans-serif;

  /* body text */
  --montserrat-reg-16: 1rem "Montserrat", sans-serif;
  --montserrat-reg-18: 1.125rem "Montserrat", sans-serif;
  --montserrat-reg-21: 1.3125rem "Montserrat", sans-serif;
  --montserrat-reg-24: 1.5rem "Montserrat", sans-serif;
}

body {
  max-width: 100vw;
}

.nav {
  display: flex;

  background-color: var(--blue-nav);
  height: 65px;
  position: absolute;
  top: 0;
  width: 100%;
}

.nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100%;
}

.nav-groups {
  display: flex;
}

.nav__group {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav__group-two {
  margin-left: 1em;
}

.nav__item {
  list-style: none;
  margin-left: 1em;
}

.nav__item:hover,
.nav__item:focus {
  opacity: 0.65;
}

.nav__link {
  color: #fff;
  font: var(--oswald-bold-18);
  text-decoration: none;
  text-transform: uppercase;
}

.button {
  background-color: var(--gold-highlight);
  border-radius: 100px;
  color: #fff;
  padding: 0.3em 1.5em;
  text-decoration: none;
}

.button:hover,
.button:focus {
  opacity: 0.75;
}

.hero {
  background-color: var(--blue-body);
  padding: 8em 0;
}

.hero__title {
  color: #fff;
  font: var(--oswald-bold-90);
  line-height: 1;
  margin-bottom: 0.5em;
}

.hero__title span {
  color: var(--gold-highlight);
}

.hero__text {
  color: #fff;
  font: var(--montserrat-reg-24);
  margin-bottom: 1.5em;
}

.hero__button {
  font: var(--oswald-bold-24);
  text-transform: uppercase;
}

.container {
  width: min(1200px, 80%);
  margin: 0 auto;
}

.section-one {
  /* No color was provided in the design doc, 
  so this is my best guess. */
  background-color: #ececec;
  padding: 4em 0;
}

.section-one .col {
  text-align: center;
}

.section-one .col:not(:last-child) {
  margin-bottom: 1em;
}

.section-one__title {
  color: var(--gold-highlight);
  font: var(--oswald-bold-30);
  margin-bottom: 0.5em;
}

.section-one__text {
  font: var(--montserrat-reg-18);
}

.section-two {
  padding: 2em 0;
}

.section-two__title {
  color: var(--gold-highlight);
  font: var(--oswald-bold-36);
  margin-bottom: 0.3em;
}

.section-two__text {
  font: var(--montserrat-reg-21);
}

.section-two__text:last-child {
  margin-bottom: 2em;
}

.section-two__img {
  margin: 1em 0;
  width: 100%;
}
